<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notification - WorkAssistant.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WorkAssistant.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WorkAssitant.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8F03C8331C3BA98300F5A432</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F602C241C32B4AA00297CD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F602C381C32B4AA00297CD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F602C431C32B4AA00297CD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
